/* App.css */

/* ========= Layout Global ========= */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

/* ========= Estrutura Principal ========= */
.main-content {
  flex: 1; /* Ocupa o espaço entre header e footer */
  padding: 16px;
}

/* ========= Header ========= */
.header {
  background-color: #007bff;
  color: white;
  padding: 16px;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
}

/* ========= Navegação ========= */
.nav {
  background-color: #eaeaea;
  padding: 8px 16px;
  display: flex;
  gap: 16px;
}

.nav a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.nav a:hover {
  text-decoration: underline;
}

/* ========= Footer ========= */
.footer {
  background-color: #c5c5c5;
  text-align: center;
  padding: 16px;
  margin-top: auto;
}

/* ========= Páginas ========= */
.page {
  margin-top: 16px;
}

.page-title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

/* ========= Formulários ========= */
.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}
/* Label do input */
.form-group label {
  align-self: flex-start;
  margin-bottom: 8px;
  padding-left: 4px;
  font-weight: 500;
  color: #000;
}

/* Estilo do input */
.emailForm {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 8px;
}

/* ========= Login (Quadrado Azul) ========= */
.square form {
  display: flex;
  flex-direction: column;
  background-color: #007bff;
  padding: 40px;
  border-radius: 80px;
  margin-left: 300px;
  margin-right: 300px;
  align-items: center;/* Centraliza os elementos do form */
  
}

/* ========= Botão de Login ========= */
.btLogin {
  width: 200px;
  padding: 10px 0;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #9559e4;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

td,th{
  border: 1px solid rgb(41, 41, 41);
  padding: 5px;
  
}
table{
  border-collapse: collapse;
  
}
